.server-select {
  width: 154px;
  height: 36px;
  border: 1px solid $greyBorder;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__value {
    margin-left: 2px;
  }

  &__line {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 1px;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    margin-left: 2px;
  }

  &__bottom {
    width: 20px;
    height: 20px;
    background: url('../../assets/img/select.svg') no-repeat center center / contain;
  }
}
