@import 'src/assets/styles/common.scss';

.loading-spinner {
  margin: 0 auto;
  height: 25px;
  width: 25px;
  border: 6px solid $greyBorder;
  border-top: 6px solid green;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}
