@import 'src/assets/styles/common.scss';

.header {
  background-color: #fff;
}

.header__container {
  padding: 5px 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
  @media screen and (max-width: 450px) {
    height: 80px;
  }
}

.header-nav,
.header-nav-contents {
  display: flex;
  align-items: center;
  gap: 20px;

  .user-icon {
    transition:
      0.3s background,
      0.3s box-shadow;

    &:hover {
      background: rgba($oliva, 0.7);
      cursor: pointer;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
      transition:
        0.3s background,
        0.3s box-shadow;
    }

    &:active {
      transform: scale(0.95);
      transition: 0.2s transform;
    }
  }
}

.header-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__img {
    background: url('../../assets/img/cart-header.svg') no-repeat center;
    width: 60px;
    height: 60px;
    background-size: contain;

    @media screen and (max-width: 450px) {
      width: 40px;
      height: 40px;
    }
  }

  &__amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: -8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: $oliva;

    @media screen and (max-width: 450px) {
      width: 25px;
      height: 25px;
      top: 5px;
      right: -3px;
      background-size: contain;
    }
  }

  &__num {
    font: 1rem $Roboto;
    color: #747474;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  &__amount {
    font: 0.8rem $Roboto;
    color: #eee;
  }
}
