@import 'src/assets/styles/common.scss';

.header {
  background-color: #fff;
}

.header__container {
  padding: 5px 20px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
  @media screen and (max-width: 450px) {
    height: 80px;
  }
}

.header-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    position: absolute;
    left: 0;
    top: 48px;
    background: url('../../assets/img/spruce-logo.svg') no-repeat center;
    width: 32px;
    height: 32px;

    @media screen and (max-width: 450px) {
      width: 26px;
      height: 26px;
      left: 7px;
      top: 43px;
      background-size: contain;
    }
  }

  &__title {
    font: 2.5rem $Ruluko;
    letter-spacing: 0.15em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
    padding: 5px 0 0 10px;
    font: 1.75rem $Ruge_Boogie;
    letter-spacing: 0.15em;
    color: $oliva;

    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
}

.header-logo:hover > .header-logo__img {
  animation: 1s ease-in-out 0s normal none running shake-animation-cart;
}

.header-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__img {
    background: url('../../assets/img/cart-header.svg') no-repeat center;
    width: 80px;
    height: 80px;

    @media screen and (max-width: 450px) {
      width: 50px;
      height: 50px;
      background-size: contain;
    }
  }

  &__amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14px;
    right: -8px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: $oliva;
    border: 0.5px solid #747474;

    @media screen and (max-width: 450px) {
      width: 25px;
      height: 25px;
      top: 5px;
      right: -3px;
      background-size: contain;
    }
  }

  &__num {
    font: 1.2rem $Roboto;
    color: #747474;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1rem;
    }
  }

  &__amount {
    font: 1rem $Roboto;
    color: #eee;
  }
}
