@import 'src/assets/styles/common.scss';

.selected-section {
  display: flex;
  flex-direction: column;
  font-family: $Roboto;
  padding-top: 10px;
}

.selected-filters {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $greyBorder;
  font-family: $Roboto;
  font-size: 0.9rem;
  color: $darkGray;
  align-items: center;
  padding-bottom: 4px;
  margin-bottom: 10px;
  gap: 15px;

  &__item {
    background-color: #f5f5f5;
    border-radius: 5px;
  }

  &__remove-filters,
  &__copy-link {
    padding: 7px;
    &:hover {
      cursor: pointer;
      background-color: $olivaHover;
      color: white;
      border-radius: 5px;
    }
  }
}

.selected-item {
  display: flex;
  padding: 7px;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &__name {
    margin-right: 15px;
    text-transform: capitalize;
  }

  &__remove-btn {
    width: 16px;
    height: 16px;
    background: url('https://api.iconify.design/mdi/remove-circle.svg?color=%238b9d93&width=16&height=16')
      no-repeat center center / contain;
  }
}

.sorted-filters {
  font-family: $Roboto;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 5px;
  margin-bottom: 50px;
  color: $darkGray;
  flex-wrap: wrap;
}

.filters-menu {
  display: none;
  gap: 10px;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  &__icon {
    background: url('../../assets/img/filters-icon.svg');
    width: 25px;
    height: 25px;
    background-size: contain;
    cursor: pointer;
  }

  &__title {
    font-family: $Roboto;
    font-size: 0.9rem;
  }

  &__count {
    background-color: $oliva;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 50%;
    font-family: $Roboto;
    width: 25px;
    height: 25px;

    &:hover {
      cursor: pointer;
      background-color: $olivaHover;
      color: #eeeeee;
    }
  }
}

.switch-view {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;

  @media screen and (max-width: 780px) {
    margin-left: 0;
  }

  &__line,
  &__block {
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  &__line {
    background: url('../../assets/img/view_switching_string.svg') no-repeat center center / contain;
  }

  &__block {
    background: url('../../assets/img/view_switching_block.svg') no-repeat center center / contain;
  }

  .switch-active {
    filter: invert(44%) sepia(10%) saturate(19%) hue-rotate(42deg) brightness(96%) contrast(89%);
  }
}
