@import 'src/assets/styles/common.scss';

.payment-page {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

  &__container {
    padding: 20px 10px;
    margin: auto;

    @media screen and (max-width: 460px) {
      padding: 10px 5px;
    }
  }
}

.payment-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  padding: 30px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: $Roboto;

  @media screen and (max-width: 580px) {
    width: 400px;
    padding: 20px;
  }

  @media screen and (max-width: 460px) {
    width: 360px;
  }

  @media screen and (max-width: 410px) {
    width: 300px;
  }

  &__close-btn {
    background: url('https://api.iconify.design/typcn/delete-outline.svg?color=%238b9d93&width=36&height=36')
      no-repeat center center / contain;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.2s;
    }
  }

  &__title {
    font-size: 20px;
    color: $oliva;
    letter-spacing: 0.1px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &__name,
  &__shipping-address,
  &__email,
  &__phone-number {
    width: 95%;
    padding: 20px 10px;
    border: solid $greyBorder 1px;
    margin-top: 25px;
    outline: 0;
    border-radius: 5px;
  }
}

.payment-details__title,
.payment-method__top {
  display: flex;
  padding: 10px 0;
}

.payment-method {
  display: flex;
  flex-direction: column;
  border: none;

  &__top {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;
  }

  &__title {
    margin-right: 15px;
    color: $oliva;
    letter-spacing: 1px;
    font-size: 20px;
  }
}

.cards {
  display: flex;
  gap: 10px;

  &__img {
    width: 57px;
    height: 37px;
    padding: 5px;
    background-size: contain;

    &_visa {
      background: url('../../assets/img/visa.svg') no-repeat center;
    }

    &_mastercard {
      background: url('../../assets/img/mastercard.svg') no-repeat center;
    }

    &_amex {
      background: url('../../assets/img/paypal.svg') no-repeat center;
    }
  }
}

.card-details {
  display: flex;
  flex-direction: column;

  &__name,
  &__card-number,
  &__date,
  &__cvv {
    width: 95%;
    padding: 20px 10px;
    border: solid $greyBorder 1px;
    margin-top: 25px;
    outline: 0;
    border-radius: 5px;
  }
}

.bottom-row {
  display: flex;
  justify-content: space-between;

  &__cvv,
  &__date {
    width: 220px;
    text-align: center;

    @media screen and (max-width: 580px) {
      width: 170px;
    }

    @media screen and (max-width: 460px) {
      width: 150px;
    }

    @media screen and (max-width: 410px) {
      width: 120px;
    }
  }
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  font:
    1rem 'Sitara',
    sans-serif;
  border: solid 1px $greyBorder;
  background-color: #f9f9f9;
  padding: 10px 15px;

  &__title {
    font-size: 20px;
    color: $oliva;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid $greyBorder 1px;
    margin-bottom: 10px;
  }

  &__list {
    margin-bottom: 60px;
  }

  &__order-btn {
    border-radius: 5px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $oliva;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    transition: all 0.2s;
    margin-top: 20px;
    border: none;

    @media screen and (max-width: 410px) {
      font-size: 15px;
    }

    &:hover {
      cursor: pointer;
      background-color: $olivaHover;
      transition: all 0.2s;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.valid:focus {
  border: 1.5px solid green;
}

.valid {
  border: 1.5px solid green;
}

.invalid {
  border: 1.5px solid red;
}

.payment-test {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 5px;
  color: $greyBorder;
}

.loading-spinner {
  display: none;
  margin: 0 auto;
  height: 35px;
  width: 35px;
  border: 5px solid $greyBorder;
  border-top: 5px solid green;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}

.error-message {
  margin-top: 3px;
  text-align: center;
  color: $darkGray;
  position: absolute;
}
