a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
}

.App {
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
}

body {
  min-height: 100%;
  overflow: auto;
}
