@import 'src/assets/styles/common.scss';

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 10px;
  background: rgba($oliva, 0.85);
  height: 40px;
  width: 40px;
  color: white;
  font: 1rem $Roboto ;
  transition:
    0.3s background,
    0.3s transform;
  user-select: none;

  &:hover {
    background: rgba($oliva, 0.85);
    cursor: pointer;
    transition: 0.3s background;
  }

  &:active {
    transform: scale(0.95);
    transition: 0.2s transform;
  }
}
