@import './fonts';

$Ruluko: 'Ruluko', sans-serif;
$Ruge_Boogie: 'Ruge Boogie', sans-serif;
$Roboto: 'Roboto', sans-serif;
$oliva: #9aab9f;
$olivaHover: #a4b3a9;
$greyBorder: #c0c0c0;
$mainBlack: #303c42;
$darkGray: #747474;
